@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/yellow-dark.css";
@import "@radix-ui/colors/crimson-dark.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/red-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ring: 215deg 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --ring: 216 34% 17%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  /* default styles */
  h1 {
    @apply text-background-textContrast font-cal text-4xl font-extrabold leading-[1.15] sm:leading-[1.15] md:text-6xl;
  }

  h2 {
    @apply text-background-textContrast font-cal text-2xl font-bold md:text-3xl;
  }

  h3 {
    @apply text-background-textContrast font-cal text-xl font-semibold md:text-2xl;
  }

  p {
    @apply font-inter text-background-text text-base font-semibold md:text-xs;
  }

  body {
    @apply font-inter bg-background-base text-background-text;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  .container {
    @apply max-sm:px-4;
  }
}

/* alias classes to override shadcn ui */
@layer utilities {
  .primary {
    @apply border-primary-border bg-primary-bg text-primary-text border;
  }

  .secondary {
    @apply border-secondary-border bg-secondary-bg text-secondary-text border;
  }

  .warning {
    @apply border-warning-border bg-warning-bg text-warning-text border;
  }

  .default {
    @apply border-background-border bg-background-bg text-background-text border;
  }

  .danger {
    @apply border-danger-border bg-danger-bg text-danger-text border;
  }

  .info {
    @apply border-info-border bg-info-bg text-info-text border;
  }

  .button-ghost {
    @apply text-background-text hover:border-background-borderHover hover:bg-background-bg hover:text-background-textContrast active:bg-background-bgActive bg-transparent;
  }

  .button-default {
    @apply default hover:border-background-borderHover hover:bg-background-bgHover hover:text-background-textContrast active:bg-background-bgActive;
  }

  .button-danger {
    @apply danger hover:border-danger-borderHover hover:bg-danger-solid active:bg-danger-bgActive hover:text-white;
  }

  .button-primary {
    @apply primary hover:border-primary-borderHover hover:bg-primary-solid active:bg-primary-bgActive hover:text-black;
  }

  .button-warning {
    @apply warning hover:border-warning-borderHover hover:bg-warning-solid active:bg-warning-bgActive hover:text-white;
  }

  .button-secondary {
    @apply secondary hover:border-secondary-borderHover hover:bg-secondary-solid active:bg-secondary-bgActive hover:text-white;
  }
}

/** Prevent scrolling on body when modal is open */
body[style*="pointer-events: none"] .overflow-auto,
body[style*="pointer-events: none"] .overflow-y-auto,
body[style*="pointer-events: none"] .overflow-x-auto {
  overflow: hidden !important;
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
