TINYBIRD_TOKEN=
TINYBIRD_URL=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_TOKEN=
EMIT_METRICS_LOGS=
DATABASE_URL=
DATABASE_READ1_URL=
DATABASE_READ2_URL=
ENCRYPTION_KEY=
AUTH_SECRET=
BASELIME_APIKEY=
EMIT_ANALYTICS=
DRIZZLE_LOG=
VERCEL_ENV=
NODE_ENV=