name: Clean up
on:
  pull_request:
    types: [closed]

jobs:
  delete-neon-preview:
    runs-on: ubuntu-latest
    if: "!contains(github.head_ref, 'renovate/') || !contains(github.head_ref, 'main')"
    steps:
      - uses: Infisical/secrets-action@v1.0.7
        with:
          client-id: ${{ secrets.MACHINE_IDENTITY_CLIENT_ID }}
          client-secret: ${{ secrets.MACHINE_IDENTITY_CLIENT_SECRET }}
          env-slug: "preview"
          project-slug: "unprice-zq-xm"
          secret-path: "/ci"

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v9

      - name: Delete Neon Branch
        uses: neondatabase/delete-branch-action@v3
        with:
          project_id: ${{ env.NEON_PROJECT_ID }}
          branch: preview/pr-${{ steps.branch-name.outputs.current_branch }}
          api_key: ${{ env.NEON_API_KEY }}
